@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monstserrat";
  src: url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
@layer base {
  body {
    @apply bg-[#f7f7f7] font-mont;
  }
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  scroll-behavior: smooth;
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #122040;
  border: 3px solid #122040;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  scroll-behavior: smooth;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#142040] border-[3px] border-[#142040];
}
